.card-columns {
    column-count: 4;
}

.card {
    padding: 0px;
    margin: 5px;
}

.ml-2 {
    margin-right: 2px;
}

.card-body {
    margin: 0px;
    padding: 0px;
}

.product-name {
    padding: 0px;
    margin: 0px;
    height: 45px;
    font-size: 15px;
    overflow: hidden;
    color: rgba(48, 48, 48, 0.795);
}

.product-price {
    font-weight: bold;
}

.product-list-manager .table .name-field {
    width: 50%;
}